<ul class="stocks">
  <li *ngFor="let stock of stocks">
    <a routerLink="/detail/{{stock.symbol}}">
      <span class="badge">{{stock.symbol}}</span>
      <button class="delete" title="delete {{stock.symbol}}" (click)="delete(stock)">X</button>
      {{stock.name}}
    </a>
  </li>
</ul>


<!--<ul class="heroes">-->
<!--  <li *ngFor="let hero of heroes">-->
<!--    <a routerLink="/detail/{{hero.id}}">-->
<!--      <span class="badge">{{hero.id}}</span> {{hero.name}}-->
<!--    </a>-->
<!--    <button class="delete" title="delete hero"-->
<!--            (click)="delete(hero)">x</button>-->
<!--  </li>-->
<!--</ul>-->
