
.navlink {
  color: #6c757d;
  padding: 10px;
  margin: 10px;
}

.navlink:hover {
  background-color: #282c34;
  color: white;
  text-decoration: none;
}

.navlink:active {
  background-color: #282c34;
  color: white;
  text-decoration: none;
}

.navlinkactive {
  background-color: #282c34;
  color: white;
  text-decoration: none;
}
