/* AppComponent's private CSS styles */
nav a {
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  background-color: #254E58;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}
nav a:visited, a:link {
  color: #cfd8dc;
}
nav a:hover {
  color: #254E58;
  background-color: #cfd8dc;
}
nav a.active {
  color: #254E58;
}
