<h2>Search Stocks</h2>
<div>
  <label>
    <input class="search" #alphaSearch/>
  </label>
  <!-- (click) passes input value to search() and then clears the input -->
  <button class="search" title="Search" (click)="search(alphaSearch.value); alphaSearch.value=''">
    Search
  </button>
</div>
<div *ngIf="stocks.length">
  <ul class="result">
    <li *ngFor="let stock of stocks">
      <a routerLink="/stockdetail/{{stock.symbol}}">
        <span class="badge">{{stock.symbol}}</span>
        {{stock.name}}
      </a>
    </li>
  </ul>
</div>





